In [1]:
import pandas as pd

In [2]:
url = 'https://www.airnowapi.org/aq/data/?startDate=2022-09-05T16&endDate=2022-09-06T23&parameters=PM25&BBOX=-111.648426,34.946453,-101.716785,42.022513&dataType=A&format=text/csv&verbose=0&monitorType=2&includerawconcentrations=0&API_KEY=AD2F42CB-52AD-4502-9378-CC61AFB534A3'

In [3]:
df = pd.read_csv(url)

In [4]:
df.to_csv('airnow_data.csv')

In [7]:
colnames=['remove', 'lon', 'lat', 'date', 'sensor', 'value', 'sensor_type'] 

df2 = pd.read_csv('airnow_data.csv', names=colnames, header=None)
df2

,remove,lon,lat,date,sensor,value,sensor_type
0,NaN,41.783083,-110.537888,2022-09-05T16:00,PM2.5,45,1
1,0.0,40.294300,-110.009000,2022-09-05T16:00,PM2.5,40,1
2,1.0,40.464722,-109.560830,2022-09-05T16:00,PM2.5,30,1
3,2.0,41.592591,-109.220125,2022-09-05T16:00,PM2.5,48,1
4,3.0,40.086941,-108.761002,2022-09-05T16:00,PM2.5,55,2
...,...,...,...,...,...,...,...
1107,1106.0,40.414700,-104.706100,2022-09-06T22:00,PM2.5,24,1
1108,1107.0,41.875556,-103.658056,2022-09-06T22:00,PM2.5,25,1
1109,1108.0,39.714424,-105.124023,2022-09-06T23:00,PM2.5,0,1
1110,1109.0,39.714321,-105.123978,2022-09-06T23:00,PM2.5,0,1
1111,1110.0,39.714352,-105.123886,2022-09-06T23:00,PM2.5,0,1